.jimu-widget-iFramePowerBI {
    top: -3px;
    left: -5px;
    position: absolute;
    width: 100%;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    height: 100%;
    padding: 0px;

}
.jimu-widget-iFramePowerBI .IframePanel {
    position: absolute;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    height: 100%;
    padding: 0px;
}